# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Module related
*.ko
*.mod.c
*.order
*.symvers
*.o.cmd
*.ko.cmd
*.o.d
